<!-- Navigation Component -->
<div class="header-with-status">
    <div class="title-section">
        <h1>Furnace Control System</h1>
    </div>
    <div class="header-controls">
        <button id="systemToggle" class="icon-button" title="Power On/Off">
            <i class="icon icon-power"></i>
        </button>
        <button id="smoothingToggle" class="icon-button" title="Temperature Smoothing">
            <i class="icon icon-smoothing"></i>
        </button>
        <a href="/"><button class="icon-button" title="Home">
            <i class="icon icon-home"></i>
        </button></a>
        <a href="/programs"><button class="icon-button" title="Programs">
            <i class="icon icon-programs"></i>
        </button></a>
        <a href="/filemanager"><button class="icon-button" title="File Manager">
            <i class="icon icon-files"></i>
        </button></a>
        <a href="/settings"><button class="icon-button" title="Settings">
            <i class="icon icon-settings"></i>
        </button></a>
        <button id="themeToggle" class="icon-button" title="Toggle Dark Mode">
            <i class="icon icon-sun" id="themeIcon"></i>
        </button>
    </div>
</div>
